includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
        - routes
        - database
    tmpDir: storage/phpstan
    excludePaths:
        - app/Http/Controllers/Api/*
    ignoreErrors:
        - '#Parameter \#1 \$user of class Illuminate\\Auth\\Events\\Verified constructor expects Illuminate\\Contracts\\Auth\\MustVerifyEmail#'
